[2018-04-28 01:25] tartavull opened #1 "Question"
Thanks for opensourcing this!

I was reading the code and got confused by this line
https://github.com/silvandeleemput/memcnn/blob/242478b9a55cd3617e8b795a8f6f5653a1ee485d/memcnn/models/revop.py#L96

I thought it wasn't necessary to save inputs or outputs

[2018-04-28 20:12] silvandeleemput commented on #1
Hi, I agree that the line looks a bit misleading. There is indeed no need to save the data related to the inputs.

The actual data associated with the tensors are in fact freed a few lines higher:
https://github.com/silvandeleemput/memcnn/blob/242478b9a55cd3617e8b795a8f6f5653a1ee485d/memcnn/models/revop.py#L88

The function then only stores the reference to the tensors for the backward pass, which

[2018-04-29 13:40] tartavull commented on #1
Thanks for taking the time to explain this -- it make sense now.

[2018-04-29 13:40] #1 closed

[2018-05-06 16:01] tartavull opened #2 "Invert function"
I think it would be really helpful to have an invert method ( I can attempt to write it )
it seems like this repo https://github.com/jhjacobsen/pytorch-i-revnet/issues/4 has code to perform the inverse but not the memory saving.
While your repo is able to perform the memory saving but not the inverse. Having some code capable of doing both would be great.

[2018-05-08 10:05] silvandeleemput commented on #2
That seems like a good feature for performing retrospective inference.

The best way would probably be to add a new method to the ReversibleBlock called 'inverse()', this would require writing a new InversedReversibleBlockFunction class, which explicitly computes the inverse and its backward gradients. The relevant code bits can all be found [here](https://github.com/silvandeleemput/memcnn/blob/24

[2018-05-14 14:43] silvandeleemput commented on #2
Alright, today I implemented the inverse function as an explicit inverse of the ReversibleBlock.

I have also added an example how to use it to the revop unittest, see:

https://github.com/silvandeleemput/memcnn/blob/dccc2d85ddf6dbcfb194bdf3c3eed9961d1a1356/memcnn/models/tests/test_revop.py#L61-L75

[2018-05-14 16:09] tartavull commented on #2
This is just great! Thank you a lot :)

On Mon, May 14, 2018, 10:43 AM Sil van de Leemput <notifications@github.com>
wrote:

[2018-05-28 14:10] #2 closed

[2018-05-28 14:30] silvandeleemput opened #3 "Upgrade to PyTorch version 0.4.0"
The current revop implementations are not compatible with the newest [0.4.0 release](https://github.com/pytorch/pytorch/releases) of PyTorch. The current version should be made compatible.

[2018-06-07 13:15] #3 closed

[2018-07-06 11:48] thanasisfitsios opened #4 "Difference between implementations"
Hello,
I noticed that in the revop.py file there are two different implementations ReversibleBlockFunction and ReversibleBlockFunction2.
Are there any important differences between the two and reasons to choose one over the other?

[2018-07-09 11:44] silvandeleemput commented on #4
Hi,

The implementations are very similar yet they derive approximately the same result (gradients for the weights during backward pass) in slightly different ways.

The ReversibleBlockFunction computes the gradient on the backward pass by rebuilding the graph below and computing the gradients for: x, the weights of Fm, and the weights of Gm. It computes this in one go by passing the output gradie

[2018-07-09 16:18] thanasisfitsios commented on #4
Thank you for the detailed answer, it is much clearer to me now.

[2018-07-09 16:18] #4 closed

[2018-10-15 17:49] tychovdo opened #6 "Chaining ReversibleBlock modules"
Correct me if I'm wrong.
I am stacking multiple ReversibleBlock modules in a sequential manner (for instance wrapped in a nn.Sequential module). In this case, we only need to store the output activations of the last reversible block in the sequence to perform backpropagation (since we can calculate the input activations of a block using its output activations which are the input activations of the

[2018-10-15 19:03] tychovdo commented on #6
Nevermind. Sorry. The implementation seems to properly free memory, so I guess I am measuring an increase in memory usage due to the increase in model parameters.

[2018-10-23 09:11] silvandeleemput commented on #6
Ok, no problem! I'll close this issue now.

[2018-10-23 09:11] #6 closed

[2018-10-23 14:38] silvandeleemput opened #7 "Add new results to README"
After fixing a bug in the implementation the results are now better and should be updated in the README.

[2018-10-23 14:52] silvandeleemput opened #8 "Integration of a memory saving backward pass"
A nice enhancement of the library would be a memory saving backward pass in addition to the forward pass.

@tychovdo created an implementation and issued a pull request for this #5

Once the pull request is complete a versioned release scheme should be implemented, since it probably will break backwards compatibility.

[2018-10-23 14:58] silvandeleemput opened #9 "Fix writing scalars to output"
I was e-mailed about scalars not being written to scalars.json in the experiment log folder. This ticket is to keep track of this issue.

[2018-10-26 21:31] silvandeleemput commented on #9
I updated the Dockerfile with pip package version numbers and fixed a bug in classification.py.

After re-building a docker image from the Dockerfile and running a docker container in interactive mode I was unable to reproduce the reported issue. That is, the scalars.json in the logs folder of the resnet32 cifar10 experiment, was filled with data after running train.py.

I will contact the reporte

[2018-10-29 10:54] #7 closed

[2018-11-21 15:34] silvandeleemput commented on #9
Issue cannot be reproduced for now, so I will close this. The issue can be reopened if issue resurfaces.

[2018-11-21 15:34] #9 closed

[2018-12-07 12:18] MrLinNing opened #10 "python version？"
My pytorch version is 0.4 and python version is 3.6.6, but I found this bug,
`cd memcnn/memcnn `
`python train.py`
[code]

[2018-12-07 12:35] MrLinNing commented on #10
I want to use pip install the lib,  and could you give me a `requirements.txt ` file?

[2018-12-07 14:13] silvandeleemput commented on #10
Hi, judging from your error, it appears you have not included the location of the cloned repository to your Python path.

There is currently no requirments.txt, but all the requirements can be found here in the Dockerfile:

https://github.com/silvandeleemput/memcnn/blob/7dccf480753dab34f5a60c4017c1aa5b20f9c3b5/docker/Dockerfile#L57-L71

[2018-12-10 04:00] MrLinNing commented on #10
Did you compare your method with the original method of GPU memory consumption during training ?

[2018-12-12 06:32] MrLinNing commented on #10
Hi， I don‘t understand why recompute the y1 and y2  in ReversibleBlockFunctio class of  revop.py ? @silvandeleemput

[code]
And in backward, the y1 and y2 already exist,
[code]

[2018-12-12 13:33] silvandeleemput commented on #10
Hi,

I have added the GPU memory consumption statistics to the results section in the [README.md](https://github.com/silvandeleemput/memcnn).
It makes quite a difference since memory requirements are O(1) for the reversible block, but O(n) otherwise, with n number of layers.

Recomputing y1 and y2 is required on the backward pass, by defining a subgraph over which to compute the gradients for the

[2018-12-12 13:52] MrLinNing commented on #10
Does  "the intermediate featuremaps" here refer to the intermediate featuremaps of Fm and Gm ?
But I just found x1 and x2 are deleted  in forward process, and there is no code to delete the intermediate featuremaps of  Fm or Gm.
[code]

[2018-12-12 16:05] silvandeleemput commented on #10
Yes, the intermediate featuremaps refer to the featuremaps of Fm and Gm.
There is no need to explicitly destroy these, since they are implicitly removed by detaching the output and input nodes within the forward method of the ReversibleBlockFunctions. Hence, the intermediate memory is freed when new memory is requested.

[2018-12-13 02:53] MrLinNing commented on #10
@silvandeleemput  Thank you very much for your answer! In addition, I want to know whether a ReversibleBlock needs to save the corresponding output, and the next cascading ReversibleBlock also needs to save the corresponding output. In the class ReversibleBlockFunction of revop.py, you have this code,
[code]

[2018-12-21 11:05] silvandeleemput commented on #10
Hi, this is a little misleading, since the torch.autograd.Function requires to store the input and output graph nodes as a reference for the backward pass, but the actual data of the input node is actually freed after the forward pass in the ReversibleBlock by:

https://github.com/silvandeleemput/memcnn/blob/f83311d6bc5d0518d370062b2de63cca0a4a0899/memcnn/models/revop.py#L65-L67

[2019-01-07 19:58] silvandeleemput commented on #10
Hi, yes this stacked memory use can generally be avoided by deleting unused pytorch tensors / models and calls to flushing the cuda cache when switching training and validation. In code it would look like this:
[code]

[2019-04-22 18:33] juntang-zhuang opened #12 "set Fm to eval() mode during reconstruction in backward?"
Hi,

Thanks for your nice work. I wonder during the backward function, the first step is to reconstruct x from y. In this step, should I set Fm and Gm as eval() mode? My concern is, with batchnorm layer, if we reconstruct x from y in train() mode, the running_mean and running_var actually changes, so the reconstructed x is not the actual input x. The same problem happens during construction of a l

[2019-04-22 18:34] juntang-zhuang commented on #12
Also will the same problem happen with dropout layer?

[2019-04-22 21:43] silvandeleemput commented on #12
Hi, thank you for your interest in this project, you might be on to something here. Could you provide a working example of the problem, in particular for batchnorm, and report your python/pytorch versions? This would help to replicate the problem, write suitable tests and see if we can work out a solution. You might also want to provide a little bit more context about what you want to achieve so I

[2019-04-22 21:45] #10 closed

[2019-04-23 00:04] juntang-zhuang commented on #12
Hi, I did not run into error, it's just when I looked into the code and performed experiments, the training and validation curves seem unstable. I think batchnorm in eval mode stops changing the running_mean and running_var, but still there are 2 evaluation of batch norm in one backward pass, we can set the 1st as eval, but the 2nd cannot. I agree re-writing batch norm and dropout would be a solut

[2019-05-07 08:46] silvandeleemput commented on #12
I am sorry I currently do not have the time for that. But, you could give it a go yourself, since it should not be that hard. Just subclass or copy the batchnorm class and add a simple counter which only updates the running statistics every 2 updates. Then in your network code use the modified batchnorm instead of normal batchnorm.

However, it might very well be that it is not necessarily the int

[2019-05-17 14:20] silvandeleemput opened #14 "Fixing the affine coupling"
There is a new coupling option added to the ReversibleBlock in the last update of MemCNN.  Currently, only the additive version is properly functioning. There is also the affine coupling, but it does not yet pass the unit tests under models/tests/test_revop.py.

[2019-05-17 14:33] robintibor commented on #14
Ok to continue previous discussion: Do you have some method of verifying that the memory on CPU and GPU is properly freed? Just wondering since I don't know what pytorch internally does there, especially if tensor shape and tensor storage are not in sync anymore.

[2019-05-17 14:36] silvandeleemput commented on #14
To test if memory is correctly freed, if you have a GPU enabled machine, you can use the unit tests under [memcnn/models/tests/test_memory_saving.py](https://github.com/silvandeleemput/memcnn/blob/b7d1c67966bac1ec9967d5910f3942d803ae81e7/memcnn/models/tests/test_memory_saving.py). It is currently tuned for a GPU with at least 6 GB of memory.

[2019-05-17 15:01] robintibor commented on #14
Great. Another question, please redirect me if I should ask it somewhere else, did you consider about having separate `keep_input` and `keep_output` flags?
Normally, I would like to keep x/input on my first layer during forward and keep y/output on my last layer during inverse. However, I do want to remove the y/output on my first layer during inverse and I want to remove the x/input on my last la

[2019-05-17 15:26] silvandeleemput opened #15 "Separate `keep_input` and `keep_output` flags?"
Great. Another question, please redirect me if I should ask it somewhere else, did you consider about having separate `keep_input` and `keep_output` flags?
Normally, I would like to keep x/input on my first layer during forward and keep y/output on my last layer during inverse. However, I want to remove the y/output on my first layer during inverse and I want to remove the x/input on my last layer

[2019-05-17 15:31] silvandeleemput commented on #15
I created a new issue for this feature request. However, I am not entirely sure from your description if it is strictly necessary since I expect that it could be solved by manually switching using `keep_input` before calling forward() and/or inverse().

However, it might be a convenient feature in your case. Could you illustrate your use case with a few lines of code?

[2019-05-22 09:56] robintibor opened #16 "`keep_input=False` is not being tested and seems not to work"
In https://github.com/silvandeleemput/memcnn/blob/b7d1c67966bac1ec9967d5910f3942d803ae81e7/memcnn/models/tests/test_revop.py
it seems that `keep_input=False` is never being tested.

Due to  https://github.com/silvandeleemput/memcnn/blob/b7d1c67966bac1ec9967d5910f3942d803ae81e7/memcnn/models/tests/test_revop.py#L43 and since `implementation_bwd` always starts at `-1` in the inner loop, `keep_input`

[2019-05-24 11:07] #16 closed

[2019-05-24 11:08] silvandeleemput commented on #16
@robintibor thanks for reporting these issues, they should be fixed with the latest commit.

[2019-05-24 11:11] silvandeleemput commented on #8
This has been integrated with #5

[2019-05-24 11:11] #8 closed

[2019-05-28 11:37] silvandeleemput commented on #14
The affine coupling should now work. It has been covered and passes tests on the dev branch. I will soon merge it with the master branch.

[2019-05-28 12:52] #14 closed

[2019-05-29 12:34] silvandeleemput opened #17 "Update documentation"
The documentation and README are outdated and should be updated.

[2019-06-05 15:38] silvandeleemput opened #18 "Better torch CPU RAM measurements"
I've added new tests for the memory saving of the Reversible Block to show that `keep_input=True` uses more memory than `keep_input=False`. There are different implementations for GPU RAM and CPU RAM though. The current solution works but can be improved w.r.t. CPU RAM measurements.

 GPU RAM estimates are already pretty reliable and accurate through `torch.cuda.memory_allocated()`.

CPU RAM estim

[2019-07-04 11:59] silvandeleemput commented on #15
This feature has been implemented in the dev branch and will soon be merged with master. There are now a separate `keep_input` flag and a `keep_input_inverse` flag for the forward and inverse calls respectively.

[2019-07-04 11:59] #15 closed

[2019-07-10 21:52] #17 closed

[2019-07-18 11:47] sepandhaghighi opened #19 "JOSS Review : Community guidelines"
1. Move `.github` folder to root
2. Add `CODE_OF_CONDUCT.md` to `.github` folder
3. Move `CONTRIBUTING.rst` to `.github` folder
4. Add `PULL_REQUEST_TEMPLATE.md` to `.github` folder

[2019-07-18 11:47] sepandhaghighi opened #20 "JOSS Review : Code analysis tools"
Analyze your code by some proper tools, these tools helps to identify vulnerability and bugs in source code.

Recommended analyzers :

1. [Codacy](https://www.codacy.com/)
2. [Codefactor](https://www.codefactor.io/)
3. [LGTM](https://lgtm.com/)
4. [Codebeat](https://codebeat.co/)

also take a look at Github Marketplace.

[2019-07-18 11:48] sepandhaghighi opened #21 "JOSS Review : Missing DOIs"
Some DOI's missed :

[code]

[2019-07-18 11:48] sepandhaghighi opened #22 "JOSS Review : Performance & Example usage"
The memory consumption table (table 3) is vague, you should compare memory usage between `MemCNN` vs other platforms.

You mentioned :

Table 3 shows the average memory usage during model training using MemCNN. **The results show significant memory savings using the invertible operations as the number of layers increases for ResNet without the use of invertible operations** (Comparison reference ?

[2019-07-18 13:47] silvandeleemput commented on #19
Performed 1, 2, and 4 as suggested. For 3, I have added a new `CONTRIBUTING.md` to the `.github` folder with a link which always points to the latest version of the contributing section in the documentation. Moving the `CONTRIBUTING.rst` would result in issues with automated documentation building and packaging.

[2019-07-18 13:49] silvandeleemput commented on #21
The missing DOIs have been added, this issue should be resolved after rebuilding the paper.

[2019-07-18 19:43] sepandhaghighi commented on #21
Thanks for your quick reaction ;-)
Fixed

[2019-07-18 20:58] silvandeleemput commented on #20
For this issue, I have configured the repository for automatic code quality analysis by Codacy.
I have also added the code quality Codacy badge to the readme.rst.

Some remarks here:
* bandit's asserts security vulnerabilities were disabled since I use those a lot for pytests and none of them were actually security concerns.
* paper.md was excluded since it has a lot of minor formatting issues bec

[2019-07-19 09:23] #21 closed

[2019-07-19 09:26] sepandhaghighi commented on #20
Yeah, sufficient for this point.

[2019-07-19 09:26] #20 closed

[2019-07-19 09:27] sepandhaghighi commented on #19
Yes, fixed ;-)

[2019-07-19 09:27] #19 closed

[2019-07-19 09:57] silvandeleemput commented on #22
@sepandhaghighi Hi, I agree with you that the table description and purpose were not very clear. The intent of this table was to compare similar CNN implementations (all in PyTorch) with (RevNet) and without (ResNet) memory savings against each other. Here the RevNet implementations use the MemCNN reversible block. So the comparisons are: ResNet-32 vs RevNet-38, ResNet-110 vs RevNet-110, and ResNe

[2019-07-22 21:33] sepandhaghighi commented on #22
@silvandeleemput Thanks for your efforts, now it's meaningful.
As a final suggestion, I think it will better if you show related items in one row (for example `ResNet-3`2 vs `RevNet-38`) or show `RevNet` and `ResNet` details in separate tables (peer to peer).

 Notice  : For both `Table3` and `Table2`

[2019-07-22 22:00] sepandhaghighi opened #23 "JOSS Review : Add memcnn to Anaconda Cloud"
Most of machine learning libraries  are available in `conda` package manager.
You can add your package directly from `PyPI` to `Anaconda Cloud` by using of `skeleton` and `conda-build`.

[2019-07-23 09:57] silvandeleemput commented on #23
@sepandhaghighi Hi, thanks for your suggestion. I really like this idea. I have tried to do as you suggested and executed the `skeleton` command to generate a build from `PyPI` directly. However, it appears I am missing an include statement in my `manifest.in`.  This implies I would need to first roll out a new version release to PyPI before I can use this approach.

It seems to me that your sugge

[2019-07-23 10:21] sepandhaghighi commented on #23
@silvandeleemput
Hi
You can close this issue at the end.
Wait until the end of the review process, then you should release a new version that include all edits and provide an associated DOI (e.g via `Zenodo`).

[2019-07-23 13:24] silvandeleemput commented on #22
@sepandhaghighi Good suggestion! I have changed `Table 3` to have a row-wise comparison for `Resnet` vs `RevNet`. Furthermore, I have split `Table 2` into `Table 2a` and `Table 2b` for prediction accuracy and training time respectively and reordered the headers such that the comparison between the Tensorflow versus PyTorch implementations is easier to perform. Overall, these changes should facilit

[2019-07-24 09:09] sepandhaghighi commented on #22
Well done!

[2019-07-24 09:09] #22 closed

[2019-07-25 08:35] GregaVrbancic opened #24 "JOSS Review: Run Experiments"
After installation of memcnn into the fresh python environment, I have followed the [documentation](https://memcnn.readthedocs.io/en/latest/usage.html#run-pytorch-experiments) on how to run the experiments. For me, it was a bit unclear what was the problem with the config.json file, when the first time running the experiment  I experienced the error of config.json not existing error, as in the ins

[2019-07-26 07:56] silvandeleemput commented on #24
@GregaVrbancic Thank you for identifying this unclarity. I assume you ran into this issue after installing the package using `pip install` in your environment, which does not automatically set the configuration file (in contrast to the docker images, which do this automatically). I changed the documentation (`readme.rst`, `installation.rst`) to mention the necessity to set the configuration file m

[2019-07-26 08:02] GregaVrbancic commented on #24
@silvandeleemput great, nice work! This issue can be closed now. I'll notify the editor that my review is done, so the publishing process can proceed.

[2019-07-26 08:03] silvandeleemput commented on #24
@GregaVrbancic thanks for your quick response! I'll close the issue.

[2019-07-26 08:03] #24 closed

[2019-07-28 19:08] silvandeleemput commented on #23
I have just released a new version of MemCNN (1.0.0) which contains all the changes from the review and which has a functional Anaconda cloud integration. See: https://anaconda.org/silvandeleemput/memcnn
Also, I have added an anaconda badge in the `readme.rst` and installation instructions for this as well.

I think this issue can be closed as well.

[2019-07-29 06:53] sepandhaghighi commented on #23
👍👍 fixed ;-)

[2019-07-29 06:53] #23 closed

[2019-08-06 15:10] axium opened #27 "Log Determinants"
I want to train a generative model. How can I compute log determinant for the Reversible block?

[2019-08-06 20:12] silvandeleemput commented on #27
Hi, I am not too familiar with training GANs to go into much detail, but if you want to compute the log determinant can't you just do:

[code]

I wrote this code out of the top of my head and I did not test it. Also, you'll need to provide proper arguments for your data and for the ReversibleBlock. Other than that I think it should work.

[2019-08-20 06:49] axium commented on #27
I actually mean log determinants that are typically used in flow based models for example see this [paper](https://d4mucfpksywv.cloudfront.net/research-covers/glow/paper/glow.pdf). Have a look at Table 1.

[2019-08-21 16:14] silvandeleemput commented on #27
I see, so you want to compute the log determinants respective to the weights for the reversible block.

Here is a working example of how to do it:

[code]

[2019-08-22 10:11] tychovdo commented on #27
@axium To my understanding, the ReversibleBlock function in memcnn uses additive coupling to create an invertible transformation, which according to section 3.3 in the paper you referenced has a log-determinant of 0. If you would on the other hand use affine coupling, the log-determinant would equal the sum of the log values of the output.

[2019-08-23 19:37] silvandeleemput commented on #27
@tychovdo Thank you for your comment. I think you are right which invalidates my earlier approach. I think I have prepared a satisfactory answer this time around, maybe you could double-check its validity?

@axium As you probably already know, there are two couplings supported by the ReversibleBlock the `additive` and the `affine` coupling. As already mentioned, for the `additive` coupling the log

[2019-09-01 06:35] axium commented on #27
Thank you all. This has been really helpful.

[2019-10-07 06:05] MrLinNing opened #28 "Does your memcnn support muti-gpu training ?"

[2019-10-07 07:06] silvandeleemput commented on #28
Yes, it should support multi-gpu training.
Please, let me know if you run into any issues.

[2019-10-07 07:06] #27 closed

[2019-10-07 07:12] MrLinNing commented on #28
Can your method balance the GPU memory usage ?
I find  this problem.
![image](https://user-images.githubusercontent.com/24288811/66291488-99c5b700-e914-11e9-96a8-449144977f24.png)

[2019-10-07 12:15] silvandeleemput commented on #28
I assume that what you are showing is the output of the `nvidia-smi` command. The ReversibleBlock of MemCNN by default frees memory after assigning the memory. So the memory might actually be available, but what you see is that it is still reserved by PyTorch. Hence, the actual available memory is not reflected by the nvidia-smi command. To see the actual available memory you can use the `torch.cu

[2019-12-04 09:20] CorcovadoMing opened #29 "Keep input makes the RevNet loss NaN"
* MemCNN version: Source from master branch
* Python version: 3.6 (PyTorch 1.3.1)
* Operating System: Ubuntu 18.04

### Description

Hi, I easily get NaN loss while training RevNet110, and it sometimes happen while training RevNet38, the workaround is to keep the input by comment out https://github.com/silvandeleemput/memcnn/blob/master/memcnn/models/revop.py#L112

However, it makes no sense when

[2019-12-04 10:53] silvandeleemput commented on #29
@CorcovadoMing Hi, thank you for reporting this issue. I haven't tested MemCNN yet with PyTorch 1.3.1 so it might be a new issue. You could test with an older version of PyTorch (highest tested PyTorch version is 1.1) and see if the issue persists.

I agree that you should definitely be able to use RevNet without discarding the input.

[2019-12-04 11:46] CorcovadoMing commented on #29
Hi @silvandeleemput,

Thanks for your quick response

However, I've just tested with PyTorch 1.1 and the issue is still there
The minimal steps to reproduce this issue is using docker

Image: `pytorch/pytorch:1.1.0-cuda10.0-cudnn7.5-runtime`
install the minimal dependencies `pip install tensorflow tensorboardX`
Then, pull the source and execute `python -m memcnn.train revnet110 cifar10` will show

[2019-12-04 13:54] silvandeleemput commented on #29
@CorcovadoMing Thanks for checking. I'll look into this issue tomorrow.

[2019-12-08 19:40] silvandeleemput opened #30 "RandomSampler nsamples attribute causes error"
### Description

There still is an error which occurs when the RandomSampler if a numpy.int64 is manually set, e.g.:
[code]

### What I Did

Running an experiment with cifar10 and revnet164 and --no-cuda

[code]

[2019-12-08 19:59] silvandeleemput opened #31 "SummaryIterator can not be imported"
* MemCNN version: v1.00
* Python version: all
* Operating System: Linux

### Description

Since the Tensorflow 2.0 the tests have been failing, because it uses the SummaryIterator from v1.
This should be retargeted with fallback.

### What I Did

Running the CI tests all fail on:

[code]

[2019-12-08 20:41] #30 closed

[2019-12-08 20:41] #31 closed

[2019-12-10 15:04] silvandeleemput commented on #29
@CorcovadoMing I have been working on this issue, but I have had little success in fixing it so far. Training with `keep_input=False` does work for PyTorch version 0.4.0, but appears to break training for PyTorch version >= 1.0.0. This, of course, corresponds to the new way of clearing and restoring the memory on the backward pass. I'll attempt to dig a little deeper tomorrow.

This implies that t

[2019-12-10 16:52] CorcovadoMing commented on #29
@silvandeleemput I've looked into original paper of RevNet in these days, and found maybe the current implementation is not able to achieve the space complexity O(1) due to we still need to store the output activator of each RevBlock into a buffer (https://github.com/silvandeleemput/memcnn/blob/master/memcnn/models/additive.py#L142)
(And I believe the NaN issue is due to the low-level storage is s

[2019-12-11 16:27] silvandeleemput commented on #29
@CorcovadoMing Thank you for giving it some thought. You have identified some of the pain points, but I will try to walk you through some of the details you might have missed:

The current implementation is able to achieve a memory complexity of O(1) for the activations during training (this is also shown by the tests for memory_savings.py). However, if you want to train it using the memory saving

[2019-12-12 05:34] CorcovadoMing commented on #29
@silvandeleemput Thanks for your explanation, it's very helpful to understand this implementation :), through your last comment I believe the issue is caused by PyTorch fundamental storage management changes from 0.4 to 1.0+

I did some modifications for prove of concept and got a workaround working version:
- I release all inputs and outputs (by `x.storage().resize_(0)` excepts the following case

[2019-12-15 21:47] #29 closed

[2019-12-15 21:51] silvandeleemput commented on #29
@CorcovadoMing I have just merged my changes with master and I am in the process of releasing a new MemCNN version. This should resolve the training issues with memory savings enabled. I would like to encourage you to check out the readme for the updated features and example code.

**Changes**
* A complete refactor of MemCNN with changes to the API
  * Factored out the code responsible for the mem

[2020-01-06 08:44] silvandeleemput opened #34 "Update documentation for the new MemCNN API"
Thank you for the new version! I'd just like to point out that this part of the documentation isn't updated [https://memcnn.readthedocs.io/en/latest/modules.html](https://memcnn.readthedocs.io/en/latest/modules.html)

_Originally posted by @ibro45 in https://github.com/silvandeleemput/memcnn/pull/33#issuecomment-568884405_

[2020-01-11 21:30] silvandeleemput commented on #34
The newest release has updated modules.rst and docstring.

[2020-01-11 21:30] #34 closed

[2020-01-18 11:14] silvandeleemput opened #35 "Removal of Tensorboard and Tensorflow dependencies"
The logging of the experiments rely on Tensorboard and hence have a Tensorflow dependency. These dependencies should be removed to make MemCNN more lightweight depending only on PyTorch as the only "big" library and allow for easier maintenance.

[2020-01-19 15:49] silvandeleemput commented on #35
Version 1.2.0 of MemCNN removes the need for Tensorboard.

[2020-01-19 15:49] #35 closed

[2020-01-30 17:14] lucidrains opened #36 "Backing over reversible network twice"
Hi Silvan!

I am currently weighing different implementations of reversible nets. They have suddenly gained new relevance with a new paper applying this to language models. I am currently hitting a wall where, in a more complex architecture, gradients are being backed through a reversible network twice, and because the backward is being handled manually, the graph needs to be retained for the seco

[2020-01-30 21:54] lucidrains commented on #36
Nevermind, the author of RevTorch and I went for a hacky solution. Thanks anyways

[2020-01-30 21:54] #36 closed

[2020-02-03 08:52] silvandeleemput commented on #36
@lucidrains Good to see that you found a solution to your problem!

Just for your information, I believe that MemCNN is able to handle such cases as well. Internal states can be retained using the InvertibleModuleWrapper by setting the `keep_input` attributes to True on the first pass and set it to False on the second pass. Or alternatively, if the architecture allows it, you could share the weigh

[2020-02-06 14:10] duag opened #37 "Memory consumption does not seem to reflect the indicated consumption of nvidia-smi"
* MemCNN version: 1.2.0
* Python version: 3.7.6
* Operating System: linux-64

### Description

Hello
I tried the memcnn.train examples to test the memory consumption of ResNet32 and RevNet38 on gpu.
The test script printed the following memory allocation estimates:
ResNet32: Model memory allocation: 1966080; ActMem 259687424.000 (259482711.720) (iteration 1100)
RevNet38: Model memory allocation: 2

[2020-02-06 15:26] duag commented on #37
Small update:
So I found out, that PyTorch keeps the memory reserved and does not actually free the memory on the GPU.
One can force PyTorch to free the memory by calling torch.cuda.empty_cache().
So I added this function call after input_tensor.storage().resize_(0) inside the InvertibleModuleWrapper forward and inverse function ([forwad input discard](https://github.com/silvandeleemput/memcnn/blo

[2020-02-06 20:23] silvandeleemput commented on #37
@duag Hi, thank you for trying out MemCNN. I see that some things regarding memory usage and the potential memory savings through the InvertibleModuleWrapper are not all that clear. I might actually add some text to the documentation somewhere since this comes up with more users.

As you already figured out you cannot rely on `nvidia-smi` for the actual used memory by PyTorch, since PyTorch caches

[2020-02-07 11:27] duag commented on #37
@silvandeleemput thank you for your detailed reply.
I did already try out using bigger batch sizes and failed to do so.
I believe the biggest problem is, that PyTorch wants to reserve the memory it expects to use even it does not have to use it with invertible layers.
So if one rises the batch size or input size PyTorch will try to reserve more memory (in every layer it wants to calculate the grad

[2020-02-12 16:16] silvandeleemput commented on #37
@duag Thanks for looking into this. PyTorch does indeed not always play very nice with MemCNN since it does not expect on the fly emptying of the memory storages. You might want to play around a bit with the `empty_cache` method in the InvertibleModuleWrapper backward_hook and during the forward pass:

*on forward*
You might want to try to call `torch.cuda.empty_cache()` between the following line

[2020-02-12 22:01] ZixuanJiang commented on #37
Thanks for your great project and detailed answers.

I have measured the allocated memory after each `optimizer.step` (line 113 as shown below).
https://github.com/silvandeleemput/memcnn/blob/e0a0288e5b189443c87d299881c31239d6e9b029/memcnn/trainers/classification.py#L112-L113

Similar to duag's results, the memory after optimizer.step is larger than that after loss computation for reversible netwo

[2020-02-17 13:23] duag commented on #37
@silvandeleemput thank you for your answer.
I tried it out but I still got that oscillating memory allocation behavior with peaks higher than the ResNet version.

So I tried to find a reason for what is happening, tried to analyze the behaviour and compared memcnn with other memory saving PyTorch implementations.
First of all this is mostly just guesswork because I just skimmed through the cpp cod

[2020-02-23 21:06] ibro45 opened #38 "Keep_input=False, keep_input_inverse=False issue both in the minimal example and a custom model"
* MemCNN version: 1.2.0
* Python version: 3.7
* Operating System: Linux
* PyTorch: 1.3.1, 1.4.0
* CUDA: 10.1.243 (installed together with PyTorch using Conda)
### Description

I'm not able to run my models with `keep_input=False` and `keep_input_inverse=False`. While hunting down the issue, I tried to assert that module is invertible using `memcnn.is_invertible_module`, as shown in the [minimal ex

[2020-02-23 22:19] silvandeleemput commented on #37
@duag Thanks for looking into this issue thoroughly, your feedback is very helpful for solving this issue. It seems some kind of workaround is indeed needed to avoid the reported memory behavior by PyTorch, and I'll have a look at your suggestion.

It can take a while though since I am currently very occupied with my work. I hope to find some time for this in March.

[2020-02-23 23:08] silvandeleemput commented on #38
@ibro45 Hi, thanks for your interest in MemCNN. I think you stumbled on an interesting bug with the `is_invertible_module` method.

A fundamental limitation of the `memcnn.InvertibleModuleWrapper` which hooks into the way the memory saving is implemented. Say you have `f.forward(X) = Y` with `f` an invertible module using the wrapper. On the forward pass, X is discarded by setting the underlying s

[2020-02-25 11:45] ibro45 commented on #38
Hi, thank you for the explanation and the prompt fix of `is_invertible_module` method, it does work well now! Do you have a clue about why does `RuntimeError: cannot register a hook on a tensor that doesn't require gradient` occur?

You can reproduce it with the following modified minimal example where I removed the asserts and added two variables - `KEEP` to control `keep_input` and `keep_input_i

[2020-02-27 11:22] ibro45 opened #39 "Residual connection - Trying to backward through the graph a second time"
* PyTorch version: 1.3.1
* MemCNN version: 1.2.1
* Python version: 3.7
* Operating System: Linux

### Description

Hi @silvandeleemput , sorry for being active in issues section this week. I'm trying to implement a residual connection in my 3D-UNet-like architecture, but I keep getting `RuntimeError: Trying to backward through the graph a second time, but the buffers have already been freed. Speci

[2020-02-28 20:14] ibro45 commented on #39
Apparently, this issue is present in PyTorch versions 1.3.1 and 1.4.0 but not in 1.1.0.

[2020-02-28 22:50] ibro45 commented on #39
Interestingly enough, it is present for 1.1.0 when the above example is used in my GAN setup.

[2020-02-29 13:59] silvandeleemput commented on #38
@ibro45 Hi, yes I think I can explain that. The input variable (X) was not set to require gradients. The input variable must always have this for training in PyTorch. This can be achieved with:
[code]
If you set this property on the tensor before calling forward when training, you should be fine.

I hope this helps you.

[2020-02-29 16:16] silvandeleemput commented on #39
No problem!

This is once again a (somewhat tricky) problem/limitation with the way the ReversibleModuleWrapper functions. As a workaround you could, for now, remove or disable the ReversibleModuleWrapper, for example, by setting the ReversibleModuleWrapper with `disable=True`. This should remove the error altogether. However, this disables any memory savings as well. Alternatively, you could just

[2020-03-01 22:51] silvandeleemput commented on #37
@duag @ZixuanJiang  Ok, I have just released MemCNN 1.3.0 which should fix the issue. Please let me know if it works for you.

[2020-03-01 22:52] silvandeleemput commented on #38
This seems solved, I am closing the issue now.

[2020-03-01 22:52] #38 closed

[2020-03-01 22:53] silvandeleemput commented on #39
@ibro45 I have just released MemCNN 1.3.0 which should fix your issue and issue #37. Please give it a go and let me know if it works for you.

[2020-03-01 22:54] silvandeleemput commented on #18
https://discuss.pytorch.org/t/measuring-peak-memory-usage-tracemalloc-for-pytorch/34067

[2020-03-02 11:01] cetmann opened #41 "Memory demand not constant in network depth"
* MemCNN version: 1.3.0
* Python version: 3.6
* Operating System: Ubuntu 16

### Description

I created a very simple 3D reversible network. The memory demand does not, however, seem to be constant in the network depth, i.e.for large `n_modules` (like `20`, as in this example), Pytorch runs out of memory when calling `loss.backward()`.

The memory demand for the weights should be negligible for th

[2020-03-02 13:39] silvandeleemput commented on #41
@cetmann Hi, thank you for your interest in MemCNN. I think your assertion that the memory demand (for the activations (but you know this already)) is not constant in network depth is incorrect. Instead, it appears that you are using too large inputs. Try for example to make smaller images for `X` and see what happens if you vary `n`. E.g.:
```X = torch.rand(1, 16, 1, 128, 128).to(device)```
Now t

[2020-03-03 09:44] cetmann commented on #41
Dear @silvandeleemput , now it works perfectly, thanks for the speedy fix! Before, a lower value of `n_modules` (i.e. a lower number of invertible layers) did not run into out-of-memory-issues, whereas a higher number did.
The input size is actually quite interesting for some 3D medical imaging applications.

[2020-03-03 09:44] #41 closed

[2020-03-03 13:30] cetmann opened #43 "Multi-input / multi-output reversible layers"
* MemCNN version: 1.3.1
* Python version: 3.6
* Operating System: Ubuntu 16

### Description

Sorry for the many questions over the last few days, I'd be happy to contribute.

I have a class of networks in which the channels are split at some point, after which several (reversible) layers are applied to each chunk of the channels. Then, these are recombined by concatenating the channels again. Cha

[2020-03-04 08:38] silvandeleemput commented on #43
@cetmann Hi, this is actually something that I would like to have in MemCNN as well and it should be not that hard with the current setup. Although, it might be a bit tricky to get right.

If you want to have a look at it, check how checkpointing in PyTorch is implemented, which also allows for multi-input/multi-output operations: https://pytorch.org/docs/stable/_modules/torch/utils/checkpoint.htm

[2020-03-04 08:42] silvandeleemput commented on #12
Closing this issue because it is about an outdated version of MemCNN

[2020-03-04 08:42] #12 closed

[2020-03-04 08:46] silvandeleemput commented on #43
@cetmann Also, looking at what you are trying to achieve, you might want to have a look at how splitting and combining is done in the `AdditiveCoupling` and `AffineCoupling` classes. These also split inputs in half by channels and these can be easily wrapped by the `InvertibleModuleWrapper`.

[2020-03-04 09:54] cetmann commented on #43
@silvandeleemput Sounds great! If you need any help or suggestions, I'd be more than happy to help. I'll give it a shot myself over the next few days.

The impossibility of using `detach_` instead of `detach` above by the way happened because index slicing (which I used) only applies a `view`-operation. One would have to clone the slices before detaching, but I wonder whether that still does what

[2020-03-04 12:34] silvandeleemput commented on #43
Great, good luck! Here are some pointers:

* We do the detaching in place on the output (result) in-place here since the graph leading to that result should not be retained in memory, but the output does. However, for the input operations, we actually want to retain the input tensor graphs leading to that result, since they can be anything so we use detach() instead.
* Note that the memory saving

[2020-03-04 14:29] cetmann commented on #43
Those were good suggestions. I have a working version now and am preparing some tests and will create a pull request once these are done.

I first didn't want to mess with your function arguments, so I originally went for list-inputs (keras-style) instead of combining inputs and weights like you proposed, which ended up being much easier. Internally, I now just convert everything to tuples and unp

[2020-03-04 22:18] lucidrains opened #44 "Distributed Data Parallel"
Hi Silvan again!

I have a quick question! Have you tested your framework in a distributed setting? I am currently stuck on another implementation of reversible nets, and will consider yours if it is reportedly working with `memcnn`.

Secondly, I also need my forward passes to be deterministic, and I am considering submitting a PR so your framework can benefit too https://github.com/lucidrains/ref

[2020-03-05 09:28] silvandeleemput commented on #44
Hi Phil, welcome back!

I haven't tested it yet for a distributed setting myself, but I think it should work in principle. The underlying implementation of the `InvertibleModuleWrapper` (the module implementing the memory savings) is very similar to how checkpointing is implemented, yet it saves more memory by also discarding the input and reconstructing it on the backward pass using the inverse.

[2020-03-05 21:37] lucidrains commented on #44
@silvandeleemput Awesome! I'll shelve this for now and I will be back :)

[2020-03-05 21:37] #44 closed

[2020-03-06 20:30] #43 closed

[2020-03-06 22:24] ibro45 commented on #39
Hi @silvandeleemput, sorry for not getting back earlier and thank you for solving it that quick! I've been using it these days, it works perfectly in my GAN setup when the inputs are kept, but crashes when inputs are to be calculated during backprop. However, I don't think it is caused by the residual connection, so I will close this issue. As soon as I identify what's the cause of the current iss

[2020-03-10 13:31] silvandeleemput opened #46 "Add default preserve_rng_state=True support to InvertibleCheckpointFunction"
* MemCNN version: 1.3.2

### Description

Torch checkpoint has build-in support for fixing the RNGs by default (preserve_rng_state=True):
https://pytorch.org/docs/stable/_modules/torch/utils/checkpoint.html#checkpoint
Similar default support should be added to MemCNN InvertibleCheckpointFunction.

This allows for reliable and reproducible results for the first forward pass and the reconstructed fo

[2020-03-13 16:51] ibro45 commented on #39
- PyTorch version: 1.3.1, 1.4.0
- MemCNN version: 1.3.2
- Python version: 3.7
- Operating System: Linux

Hi Sil, I finally looked closer at the issue and it seems that residual connection does not work when inputs are not kept. As I mentioned before, it does work if the inputs are kept, so knowing that might help track down the cause of the problem.

You can reproduce it with this code:
[code]

**

[2020-03-15 11:41] silvandeleemput commented on #39
@ibro45 Hi, ok I think I figured out what the problem is. The problem resides in the DownTransition module class which does the following:

[code]

What happens is that first a reference is placed to the input tensor called `down` which is initialized with values in memory as normal. Next, the loop over the cores will discard the associated memory for that referenced tensor. Finally, when adding t

[2020-03-15 21:12] ibro45 commented on #39
Thank you so much Sil!
Since I also perform `InvertibleModuleWrapper`'s `inverse()` I had to modified what you suggested to:
[code]
Thanks for the explanation too!

Indeed, that was just me switching to GPU quickly since CPU would only give a segmentation fault...

[2020-03-15 21:12] #39 closed

[2020-03-22 16:12] djiajunustc opened #47 "About implementation_fwd and implementation_bwd"
* MemCNN version: latest
* Python version: 3.7
* Operating System: Ubuntu16.06

Hi,

In the function called "create_coupling" (from revop.py), there are two implementation mode related variable (i.e. implementation_fwd and implementation_bwd) that we can set to -1, 0 or 1.
But I find that you only take -1 in your example now. Does the other two mode supported now?

And in function called "configur

[2020-03-23 10:33] silvandeleemput commented on #47
@djiajunustc Hi, thanks for your interest in MemCNN. The settings for the implementation_fwd and implementation_bwd have been around since the very beginning of the library, but have been deprecated for a while now. The choice of implementation shouldn't matter much, but I recommend the default setting of -1, which uses a plain PyTorch implementation that doesn't rely on a custom autograd.Function

[2020-03-23 10:36] silvandeleemput commented on #37
@duag @ZixuanJiang As far as I can tell, this issue has been resolved since MemCNN 1.3.1. Please reopen this thread if needed.

[2020-03-23 10:36] #37 closed

[2020-05-30 18:39] ClashLuke commented on #18
Would [memory-profiler](https://pypi.org/project/memory-profiler/) be a suitable library for this task? It allows thorough benchmarking of memory consumption on CPU by checkpointing the ram usage every couple miliseconds.

[2020-05-30 18:43] ClashLuke opened #49 "Custom split dimension"
### Description

It'd be great to be able to split at dimensions other than 1, enabling the usage of other layers. Currently MemCNN would split the 1st dimension, which is the batch or sequence dimension in case of RNNs, at all times.

[2020-06-01 20:16] silvandeleemput commented on #49
@ClashLuke this would indeed be a useful feature. It should be relatively easy to add to the AdditiveCoupling and AffineCoupling classes by adding a `split_dim` attribute. I also only want to add it to default implementations (-1) since the rest are deprecated and will be removed in the future. I'll try to implement this feature soon.

TODO

* [ ] Adding attribute `split_dim` to AdditiveCoupling a

[2020-06-01 20:22] silvandeleemput commented on #18
@ClashLuke Thanks for the suggestion! However, my experience with psutil based solutions is that they aren't sufficiently fine grained for the memory tasks at hand, unless you use large memory allocations (even then often not that reliable). However, I would like to use a small memory footprint to keep my CI tests fast. For this purpose `tracemalloc` (see link above) seems to be a little better so

[2020-06-02 12:20] #46 closed

[2020-06-05 19:26] #49 closed

[2020-06-06 07:45] ClashLuke opened #52 "perf: Computation profiling and optimization"
System:
* Pytorch: 1.5
* CPU: Ryzen 5 3600
* OS: Windows 10 (19041.264)
* MemCNN: 1.4

Profiling memcnn with torch.autograd.profiler.profile(), I got the following results after training a custom CNN (AdditiveCoupling, InvertibleModuleWrapper) for 256 batches @ 256 items per batch on CPU.

[code]

`Flip`, `native_batch_norm`, `relu`, `mul`, `mkldnn_convolution`, `bernuilli_`, `sum` and `mm` certai

[2020-06-06 13:05] silvandeleemput commented on #52
Hi @ClashLuke, just a few more questions about your experiment. It was just a single layer CNN? Did you use the memory saving option or did you disable it? Could you provide the code that you used? Does it show similar behavior on the GPU (i.e. running the profiler with cuda=True)?

What I do expect to happen with the memory saving option enabled is an increase in InvertibleCheckpointFunctionBackw

[2020-06-06 23:04] ClashLuke commented on #52
1) The select comes from my dataset generation. I did not take into account that the profiler would profile _everything_, hence the error. MemCNN therefore uses 50% of the computation (or 75% of the model computation).

2) It's an 8 layer 1d-iRevNet with 64 inputs and 32 features.

3) Memory saving is enabled. I'm using `InvertibleModuleWrapper(AdditiveCoupling(module, split_dim=2))`.

4) I'll cre

[2020-06-17 08:37] silvandeleemput commented on #52
@ClashLuke Hi, it would be interesting to get the wall clock time for training your network for n epochs with and without the memory saving. This should give you an estimate of the overhead for using the memory saving.

[2020-08-11 10:06] cetmann opened #53 "Memory demand not independent of depth because ctx.saved_tensors not freed?"
Hi!
I did some benchmarking recently and found that the memory demand is not _quite_ independent of the depth, see Table 3 on the last page on https://arxiv.org/abs/2005.05220
My suspicion is that operations in the _initial_ forward pass still save tensors that are usually necessary for the backpropagation via ctx.save_for_backward(..), which are then stored in ctx.saved_tensors. Can you confirm t

[2020-08-18 09:15] silvandeleemput commented on #53
@cetmann Hi thanks for letting me know. I am currently on vacation, but I'll have a look at it once I am back.

[2020-08-18 12:31] ClashLuke opened #54 "feat(coupling): Inplace Padding"
Currently the functions get executed and input/output are required to have the exact same shape.\
That's why, in the past, I've used images padded along the channel dimension as input to my revnets.\
Knowing how terribly inefficient that is, the only possible other way to do it is to pad x0 and x1 before adding them to the function outputs.\
Similary, inplace dropping, where only parts of the chan

[2020-08-24 20:10] silvandeleemput commented on #54
Hi @ClashLuke, thank you for raising this issue. I understand that you are referring to the precondition that the input and output of the couplings, which must have the same shape, have been a limiting factor for your use case. It would be great if you could elaborate on your use case and provide some examples with input and output shapes (e.g. you want to reduce a larger input to a smaller output

[2020-08-25 09:58] silvandeleemput commented on #53
Hi @cetmann, I have had a look at the table from your paper. Memory consumption during training is a bit complicated both to explain and to measure and requires some elaboration.

As you already have identified the memory savings achieved by the MemCNN couplings do not account for the model parameters (no memory savings when increasing model depth), but only for the activations of the feature maps

[2020-08-25 11:06] ClashLuke commented on #54
Thanks for the response, @silvandeleemput.\
My particular usecase would be giving my model 3x64x64 data and having 128x64x64 as a size for the revnet. Similary, on the final classification layer, 2x64x64 being supported without the need to pad both input and output. If I were to pad these, I could run the revnet, but the memory would explode.\
Therefore my proposal is a simple feature indexing whi

[2020-08-27 08:43] silvandeleemput commented on #54
If I understand you correctly, you want to pad your input channel dimension (with zeros or repeats?) before feeding it to a chain of reversible couplings. Since the padded input tensor wouldn't contain any new information you want the coupling to free the input tensor as well and reconstruct it on the backward pass. Is that correct?

If so, I think you could best write a custom invertible nn.Modul

[2020-08-27 12:53] ClashLuke commented on #54
Created a pull request. Perhaps that illustrates my point a bit better. The idea is that you have the padding and cropping inside of your reversible function.\
Of course, cropping isn't reversible, but for all we care it is. You don't really need the gradients at cropped positions anyway.\
Regarding padding: Doing that inside of the revblock saves quite a bit of memory, which is why i'd very much

[2020-09-02 08:43] silvandeleemput commented on #54
Thanks for the PR it clarifies your idea a bit better. I think you could still use the solution I provided above to cover this use case though. You can use the following tested example:

[code]

I also noted that while it should be relatively safe to perform padding before a coupling (remains invertible), it is usually not safe to apply the cropping after a coupling, since you potentially throw aw

[2020-09-02 14:35] ClashLuke commented on #54
Thanks for the input.\
If you'd rather have many implementations, each for one dimension, then sure, we could go this route.\
You're right, cropping might be dangerous, so let's leave that out for now. Padding is way more important to me.\
The major change introduced here however is that the padding is reversible and hence not stored in the computation graph. If I were to simply add this operation

[2020-09-20 16:42] naga-karthik commented on #44
@lucidrains Just wanted to know whether you have been able to run `memcnn` in a distributed setting? I am also stuck here as I tried to run RevTorch with DDP and I am getting some strange errors. If you could make it work using `memcnn`, I thought I could do the same!

[2020-09-20 17:35] ibro45 commented on #44
@naga-karthik what kind of errors are you getting? I've been using `memcnn` with PyTorch DDP without a problem.

[2020-09-20 19:04] naga-karthik commented on #44
@ibro45 thanks for letting me know! Oh, no I have not used `memcnn` yet. I was having some issues with DDP while using the RevTorch library. I just wanted to know whether it works with `memcnn` so that I could get dig into it. I will get back if I have any problems!

[2020-09-20 19:26] ibro45 commented on #44
Oh sorry, I misread RevTorch as RevNet 😅

[2020-09-23 05:00] naga-karthik commented on #44
Hi @ibro45, I ran into a strange error, I was hoping to get some help on it. Did you ever get this error while running memcnn with DDP - `RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation: [torch.cuda.FloatTensor [4, 192, 4, 17, 9]], which is output 0 of LeakyReluBackward1, is at version 2; expected version 1 instead. Hint: enable anomaly

[2020-09-23 05:51] ibro45 commented on #44
Hey, I had the same problem and the solution for me was to set `inplace=False` in `(Leaky)Relu`s that are inside of the `InvertibleModuleWrapper`.

@silvandeleemput I don't know if this is supposed to happen in DDP though, as keeping `inplace=True` will work with memcnn when DDP is not used.
If you'd like I can submit a new issue with a minimal example. @naga-karthik could you also confirm that th

[2020-09-23 15:05] naga-karthik commented on #44
Hey @ibro45, thanks for your quick response! I tried setting `inplace=False` for the `ReLU` layer inside my `InvertibleModuleWrapper` function. Only making this change did not solve the error for me. However, when I changed **all** `LeakyReLUs` and `ReLUs` to `inplace=False`, I could avoid it. But, this get-around seems counterintuitive to me. By setting `inplace=False` aren't we increasing the me

[2020-09-24 16:32] ibro45 commented on #44
Oh wow, you're right @naga-karthik, somehow I overlooked that (mostly because the model I'm using has PReLUs, which don't have inplace option). Thanks!

That's true, I wasn't too bothered initially because I thought it was the case only in the invertible module, though I should've reported it anyways. But since actually all activation functions must have `inplace=False`, that really is a problem.

[2020-09-29 12:02] silvandeleemput commented on #44
@ibro45 My first guess would be that this problem only applies if an inplace operation is used on either the input or the output node of a wrapped invertible module (the module wrapped with the `memcnn.InvertibleModuleWrapper`). Inplace operations can't be used on the input and output node because of the technicalities of performing the inverse during backpropagation. Essentially, the computation

[2020-10-30 12:53] lighShanghaitech opened #56 "Droupout issue"
* MemCNN version: 1.4.0
* Python version: 3.7
* Operating System: Ubuntu16.06

### Description

Hi @silvandeleemput. I am using Memcnn for blocks with dropout layer inside. I find the inverse input is not the same as the original input. To walk around this, I added a counter (n=3 to reset) into dropout and saved the dropout masks for every layers. However, it comes with the cost to save the dropou

[2020-10-31 14:34] silvandeleemput commented on #56
Hi @lighShanghaitech, thanks for using MemCNN. I think your approach is reasonable. Just out of curiosity, why do you need n=3 to reset and not n=2?

As an alternative approach, you could maybe try to store the random-state for the dropout layers instead of the full dropout masks and regenerate the masks on the fly. That approach should save significantly reduce memory overhead. You could test fir

[2020-11-21 18:01] ibro45 opened #57 "Mixed precision and InvertibleModuleWrapper"
* MemCNN version: 1.4.0
* Python version: 1.6.0
* Operating System: Ubuntu 18.04

### Description

When using the the [native Pytorch Automatic Mixed Precision](https://pytorch.org/docs/stable/notes/amp_examples.html):

- The invertible layers are kept in full precision, which should be desirable for the invertible layers, but probably should be indicated in the documentation. That's normal behavi

[2020-11-22 10:15] silvandeleemput commented on #57
Good find! Thanks for the detailed example, I'll have a look at it on Monday. It appears to be a straightforward fix.

[2020-11-23 09:28] silvandeleemput opened #58 "Remove Python 2.7 and add PyTorch 1.6 to CI tests"
### Description

Support for Python 2 has been abandoned for a while now and so I will no longer support the Python 2 tests. This should also simplify dealing with issues like #18. Also, new tests for PyTorch 1.6 should be added also to test using the now build-in amp support (torch.cuda.amp). (see #57)

[2020-11-23 15:12] #58 closed

[2020-11-23 21:03] silvandeleemput commented on #57
@ibro45 This issue is a lot trickier than I initially anticipated. The problem with this issue is very similar to using `torch.cuda.amp` with checkpointing, see here:
https://github.com/pytorch/pytorch/issues/37730

At the moment checkpointing and  `torch.cuda.amp`  don't work together nicely and since the `memcnn.InvertibleModuleWrapper` works in similar ways to checkpointing it suffers from simi

[2020-11-24 09:24] #57 closed

[2020-11-24 09:28] silvandeleemput opened #61 "Fix/update Pillow version in requirements.txt"
### Description

The Pillow version is currently fixed to <7.0.0, which is required for torchvision 0.4.1 and lower, but I no longer want to limit the version in the requirements.txt

[2020-11-24 09:52] #61 closed

[2020-11-24 09:58] silvandeleemput commented on #57
@ibro45 I have chosen to accept solution 1 as the current best "fix" for mixed-precision training. I am currently pushing a new release (1.5.0) for memcnn that includes the fix. As recommended by you I also included a note describing the limitations of mixed-precision training (float32 inputs) to the InvertibleModuleWrapper.  I hope this solves your problem.

[2020-12-02 21:21] ibro45 commented on #57
Thanks a lot for the fix and sorry for getting back to you earlier, got sidetracked.
Is the current solution not the best fix because it requires `scaler.backward()` inside of `autocast` or that's not the only reason? Also, is it necessary that the `backward()` is under `autocast` and, if so, do you know why? I'm currently running it with `backward()` outside of `autocast`, there are no errors, bu

[2020-12-08 09:40] silvandeleemput commented on #57
@ibro45

No problem.

* Well first of all I think it should be fine to move the `scaler.backward()` outside of `autocast` section, I did this mainly to support some tests with checkpointing.
* The main reason that the solution is not optimal (I think it can't ever really be optimal a.t.m.)  is that it reduces flexibility in how you use mixed-precision training (which is fine for now since it likel

[2021-01-18 17:44] lighShanghaitech commented on #56
I tried it. It seems to be not working. I set it as 3 before we have one for forward, one for inverse, and one for temporary forward.

[2021-01-18 17:48] lighShanghaitech opened #62 "What setting the gradients manually is needed?"
[code]
I wonder why this snippet is needed. It seems once the backward function returns the gradients. Pytorch will take care of it.
I got a warming

`UserWarning: The .grad attribute of a Tensor that is not a leaf Tensor is being accessed. Its .grad attribute won't be populated during autograd.backward(). If you indeed want the gradient for a non-leaf Tensor, use .retain_grad() on the non-leaf Te

[2021-01-27 21:19] silvandeleemput commented on #62
@lighShanghaitech There is a use-case in my tests that required me to do so, and I am pretty sure some tests fail if I remove those lines. But I'll have to look it up another day. But I agree that it looks redundant for most use-cases, thanks for pointing it out.

[2021-01-27 21:20] silvandeleemput commented on #56
@lighShanghaitech That's interesting, could you maybe provide some example code to reproduce the problem? Then I can have a look.

[2021-07-27 15:28] xuedue opened #63 "About AffineCoupling and AdditiveCoupling"
* MemCNN version:newest
* PyTorch version:1.6
* Python version:3.6
* Operating System:ubuntu

### Description

I want to implement the inversion function of MLP, when using AdditiveCoupling， It works
![image](https://user-images.githubusercontent.com/37701943/127181477-3760972d-5de3-43a4-ab9d-bdfda3680b9e.png)

but when I change to AffineCoupling
![image](https://user-images.githubusercontent.com/

[2021-07-28 22:11] silvandeleemput commented on #63
@xuedue Hi, thanks for using MemCNN. Whereas the `memcnn.AdditiveCoupling` expects `Fm` and `Gm` to have a single input x and a single output y of the same shape, `memcnn.AffineCoupling` expects the input to be of the form (s, t), namely a vector for the scale and a vector for the translation/shift. By default, the `memcnn.AffineCoupling` does not provide any conversion for this since the adapter

[2021-07-29 02:31] xuedue commented on #63
Thank you for your reply, I modified it according to your description, but it brought another error.
![image](https://user-images.githubusercontent.com/37701943/127422192-99ab1a94-fc61-4e61-9642-d2ce4104add2.png)
![image](https://user-images.githubusercontent.com/37701943/127422213-73e6240e-0499-4444-a4bd-a37b0258e3b9.png)

If I use  AffineAdapterNaive instead of AffineAdapterSigmoid,  it works.

[2021-07-29 11:22] xuedue commented on #63
Fm and Gm need to have input x and output y of the same shape. If I want to implement a reversible MLP with different input and output channels, what should I do? For example, the input of MLP is 100 dimensions, and the output is 2 dimensions.

[2021-07-29 13:53] silvandeleemput commented on #63
I assume here that with dimensions you mean the number of channels in the dimension you split on.

A simple way of doing so is to make a reversible MLP with the same shape input and outputs, then at the end extract only the first 2 channels, using slicing:

[code]

A more complex way, if you want to keep it fully invertible, is to create a `torch.nn.Module` that reshapes/reorders the data so it re

[2021-07-30 08:05] xuedue commented on #63
Well, Like the following MLP example
![image](https://user-images.githubusercontent.com/37701943/127620349-4049fcce-c7d8-4b43-9f5e-60fc53c94b18.png)
If I change the output to 100 dimensions and only take two of them，It doesn't make sense.
For MLP, the input and output are both (batch size, dimension), I think there is no way to convert (batch size, 100) to (batch size, 2).
Instead of changing the

[2021-07-30 11:43] silvandeleemput commented on #63
Why? Could you elaborate? Doesn't this work for your use case?

Alternatively, you could also take the mean over the first 50 channels and the second 50 channels to reduce your output from (batch_size, 100) -> (batch_size, 2), if you're more comfortable with that (very similar to an average pooling operation).

[code]

Could you maybe tell me a little bit more about which parts of your network do

[2021-07-30 11:54] silvandeleemput commented on #63
Btw, if you still want to use the `AffineAdapterSigmoid` with the `AffineCoupling`, you can use the following modified `AffineAdapterSigmoid` implemention, which should fix your error:

[code]

[2021-07-31 05:29] xuedue commented on #63
The reversible network I want to achieve is as follows：
![image](https://user-images.githubusercontent.com/37701943/127729516-c159163e-02a9-4c8c-a21f-1fb6a1e73743.png)
![image](https://user-images.githubusercontent.com/37701943/127729507-3ef9e77f-f41c-47b3-b0db-bf9d4609116a.png)

After getting the 2*512 output, I will make some modifications on the 1024-dimensional output, and then reversibly get

[2021-08-03 15:23] silvandeleemput commented on #63
Ok, thanks for clarifying your question. First, I would suggest making layers 1-6 invertible.
This should be simple (the `in_features`/`out_features` ratio is 1:1, which is what memcnn supports very well) by wrapping the intermediate linear blocks with the Affine or Additive Coupling blocks as you did before. (These can subsequently be wrapped in the `memcnn.InvertibleModuleWrapper()` to achieve m

[2021-08-03 15:38] silvandeleemput opened #64 "Fixing AffineAdapterSigmoid for 2 dimensional inputs"
Btw, if you still want to use the `AffineAdapterSigmoid` with the `AffineCoupling`, you can use the following modified `AffineAdapterSigmoid` implemention, which should fix your error:

[code]

_Originally posted by @silvandeleemput in https://github.com/silvandeleemput/memcnn/issues/63#issuecomment-889841964_

[2021-08-03 15:57] silvandeleemput opened #65 "Fixing CI"
### Description

CI doesn't work anymore, need to update the CI.
* [x] Tox installation gives errors

### What I Did

Committed a simple change here #64

[2021-08-06 07:13] xuedue commented on #63
Thank you very much for your reply

What I want to explain is that I need to maintain the reversibility of the entire network, so that I can reversibly get 9216-dimensional input after operating on 1024-dimensional output. Here, the 9216-dimensional input is immutable and must include in the reversible network. My most important goal is to get this 9216-dimensional input through a reversible netwo

[2021-08-06 21:11] #65 closed

[2021-08-06 23:26] #64 closed

[2021-08-07 20:57] silvandeleemput commented on #63
For as far as I know this can't be made reversible for the general case. That's because you still require all the elements of the final output to reconstruct the input (all 9216 features). So you can't throw anything away from the 9216-dimensional output vector without throwing away some information about how to reconstruct the input. I think this is because of the mathematical nature of the rever

[2021-08-08 05:53] xuedue commented on #63
Thank you very much for your explanation.
If I have other problems in the following use, I will disturb you again.

[2021-08-17 03:21] #54 closed

[2021-08-17 13:41] #52 closed

[2021-08-21 11:39] cubicgate opened #68 "Give a simple example of classification?"
Hi @silvandeleemput,

   Thanks for your code! Could you give a simple example of how to do classification using memcnn?

[2021-08-23 10:40] silvandeleemput commented on #68
Hi @cubicgate, thanks for your interest in MemCNN. Your question is very broad, do you want it for a specific application? Are you interested in inference, training, or both?

You can use the RevNet implementations as classification examples.

Below is a simple example for instantiating a RevNet36 model and performing prediction on some random input data:

[code]

[2021-08-23 10:59] cubicgate commented on #68
Thanks @silvandeleemput for this example! It is very helpful!

[2021-11-24 17:38] coolbay opened #69 "Problems when memcnn is used with data parallel"
Hello~ I am wondering if memcnn works for data parallel. When I use it with data parallell for multi-GPU running, all layers have requires_grad=False.

* MemCNN version: 1.5.0
* PyTorch version: 1.8
* Python version: 3.7
* Operating System: Ubuntu 18.4

Thanks~

[2021-11-25 13:20] silvandeleemput commented on #69
Hi, thanks for your interest in MemCNN. Sadly, this is not supported at the moment. The memory saving mechanism uses a similar mechanism as checkpointing. Checkpointing with data-parallel is known to give issues, see this thread: https://github.com/pytorch/pytorch/issues/24005. If you manage to get it to work or find the problem, please let me know! It would be great if MemCNN could support data-p

[2022-04-26 21:14] Wayne2Wang opened #70 "ReLU before Inversible layers"
* MemCNN version: 1.5.1
* PyTorch version: 1.10.1
* Python version: 3.8.12
* Operating System: Windows 10

### Description

Hi, thank you for making this super useful library publicly available. I tried to use it but I have encountered a weird problem. It would be great if I could get some help here.

### What I Did

Here's the minimal code to reproduce the error

[code]

Here's the error message

[2022-04-27 16:22] silvandeleemput commented on #70
Hi, thank you for your interest in MemCNN. You have identified an interesting behavior, which wasn't present in PyTorch 1.7.0 (last tested version for MemCNN). Apparently, it only happens when the InvertibleModuleWrapper comes right after operations like the ReLU (which strangely enough isn't an in-place operation by default). If for example, I put another Convolution layer after the ReLU it seems

[2022-05-03 13:59] jambo6 opened #71 "A question on implementation"
Hello,

Thanks a bunch for this package. I've had a go at implementing something similar following your code, I have one query about the implementation. It relates to the following lines
[code]
Why do you go via this approach to free up the memory?

I thought it would have been sufficient to do something along the lines of
[code]
and then simply reconstruct with
[code]
ignoring the `storage().resi

[2022-06-20 15:09] silvandeleemput commented on #71
I have done a few experiments on the numerical error of the reconstructed gradients w.r.t. the normal gradients and indeed I also found that the error increased exponentially with the number of invertible layers.

Also check figure 4 from the RevNet paper: https://arxiv.org/pdf/1707.04585.pdf. Note the section in the paper on the numerical error with a suggestion to combat it if necessary (with so

[2022-06-20 15:14] #71 closed

[2022-06-20 15:16] jambo6 commented on #71
Thanks!

[2022-09-26 12:13] LoveLiveSun opened #72 "how to joint several reversble reversible additive blocks together"
Hello, this is a very great job, but i have some confusions, i want implement this equation:
(x1, x2) = x
y1 = x1 + Fm(x2)
y2 = x2 + Gm(y1)
y = (y1, y2)

and joint this again:
(x3, x4) = y
y3 = x3 + Fm(x4)
y4 = x4 + Gm(y3)
yy = (y3, y4)

and joint more of this,and how can i do this,can u tall me how to finish this work

[2022-10-12 14:49] silvandeleemput commented on #72
Hi, have a look at the [memcnn.AdditiveCoupling](https://memcnn.readthedocs.io/en/latest/modules.html) class, which is essentially what you are trying to use. Now you can implement your example in the following manner:

[code]

For example values for Fm, Gm, Fm2, and Gm2 have a look at the example from the [readme](https://github.com/silvandeleemput/memcnn).
Finally, if you want to have memory sav